@import 'styles/variables/colors.scss';

.internal-error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 25vh;
    border: 2px solid $red;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
  }

  strong {
    margin-bottom: 100px;
    font-size: 66px;
    text-transform: uppercase;
    color: $red;
  }

  p {
    color: $red;
    font-size: 44px;
  }
}
